<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Jobs</title>
  </head>
  <body>
    <header><h1>Jobs</h1></header>
    <div class="container">
<%= yield %>
</div>
  </body>
</html>
