<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../main.css">
    <title>Jobs</title>
  </head>
  <body>
  <%= $text_i %>
</body>
</html>
